td.center
{
	vertical-align:center;
	text-align:center;
	height:100px;
}
.menu
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	table-layout:fixed;
}
.menu-button
{
	background-color:gray;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	color:white;
	width:100px;
}
.header-bg
{
	background-color:gray;
	margin-left:auto;
	margin-right:auto;
	width:100%;
	height:100px;
}
.footer
{
	background-color:gray;
	margin-left:auto;
	margin-right:auto;
	vertical-align:center;
	text-align:center;
	width:100%;
	height:100px;
}
.header
{
	text-align:center;
	font-size:50px;
	color:white;
}
.promo
{
	text-align:center;
	font-size:20px;
	color:black;
}
.login
{
	margin-left:auto;
	margin-right:auto;
}
.news-table
{
	width:1200px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}
.first-news
{
	width:600px;
	margin-left:auto;
	margin-right:auto;
}
.first-news .title
{
	font-size:25px;
	color:gray;
	
}
.first-news .content
{
	font-size:15px;
	text-align:justify;
}
.latest-news
{
}
.latest-news .title
{
	font-size:20px;
}
.latest-news .content
{
	font-size:15px;
	text-align:justify;
}
.preview-box
{
	width:1200px;
	height:250px;
	background-color:#F5EEEE;
}
.category-box
{
	width:600px;
	height:100%;
	vertical-align:top;
}
.category-box .title 
{
	background-color:gray;
	color:white;
	font-size:20px;
}
.category-box .content
{
	font-size:10px:
}
.category-list-box
{
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	width:1200px;
}
.category-list-news
{
	width:1200px;
}
.category-list-news .image
{
	background-color:gray;
	width:600px;
	text-align:center;
}
.category-list-news .title
{
	font-size:20px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}
.catetory-list-news .content
{
	font-size:10px;
	text-align:justify;
	color:blue;
}
.individual-news-box
{
	width:1200px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
}
.individual-news
{
	width:800px;
}
.individual-news .title
{
	font-size:30px;
	color:gray;
	text-align:center;
}
.individual-news .image
{
	background-color:gray;
	height:300px;
}
.individual-news .content
{
	font-size:20px;
	text-align:justify;
}
.related-news
{
	width:400px;
	vertical-align:top;
}
.related-news .title
{
	font-size:20px;
	text-align:center;
	color:grey;
}
.related-news .content
{
	font-size:15px;
}
